.icon{
    display:inline-block;
    height : 1.5rem;
    width : 1.5rem ;
      background-repeat : no-repeat;
      background-size : cover;
      
    
}

.icon-bootstrap{
    background-image : url('../assets/icons-techno/bootstrap.png');
    border-radius : 50% ;
}
.icon-css{
    background-image : url('../assets/icons-techno/css.png');
    border-radius : 50% ;
}
.icon-git{
    background-image : url('../assets/icons-techno/git64.png');
    border-radius : 50% ;
}
.icon-html{
    background-image : url('../assets/icons-techno/html-5.png');
    border-radius : 50% ;
}
.icon-javascript{
    background-image : url('../assets/icons-techno/javascript.png');
    border-radius : 50% ;
}
.icon-mongodb{
    background-image : url('../assets/icons-techno/mogodb.png');
    border-radius : 50% ;
}
.icon-node{
    background-image : url('../assets/icons-techno/nodejs.png');
    border-radius : 50% ;
}
.icon-react{
    background-image : url('../assets/icons-techno/react.png');
    border-radius : 50% ;
}
.icon-redux{
    background-image : url('../assets/icons-techno/redux.png');
    border-radius : 50% ;
}
.icon-sass{
    background-image : url('../assets/icons-techno/sass.png');
    border-radius : 50% ;
}
.icon-typescript{
    background-image : url('../assets/icons-techno/typescript.png');
    border-radius : 50% ;
}
.icon-express{
    background-image : url('../assets/icons-techno/express.png');
}
.icon-cv{
    background-image: url('../assets/icon-utilities/cv.svg');
}
.icon-email{
    background-image: url('../assets/icon-utilities/email.png');
}
.icon-github{
    background-image : url('../assets/icon-utilities/github.png');
}
.icon-linkedin{
    background-image : url('../assets/icon-utilities/linkedin.png');
}
.icon-location{
    background-image: url('../assets/icon-utilities/real-estate.png');
}
.icon-cpu{
    background-image : url('../assets/icon-utilities/cpu.png');
}
.icon-down{
    background-image : url('../assets/icon-utilities/down-arrow.png')
}
.icon-close{
    background-image : url('../assets/icon-utilities/close.png')
}